.App {

  padding-left: 1em;
}

.containerFlex{
  display:flex;/* or inline-flex */
}
.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.multiple_rows{
  flex-wrap: wrap;
}

.one_row{
  flex-wrap:nowrap;
}

.H_start{
  justify-content: flex-start;
}

.H_center{
  justify-content: center;
}

.H_end{
  justify-content: flex-end;
}

.V_start{
  align-items: flex-start;
}

.V_end{
  align-items: flex-end;
}

.V_center{
  align-items: center;
}

.V_start{
  align-items: flex-start;
}

.H_100{
  width: 100%;
}
.size{
  flex:0 1 auto;
}

.textCenter{
  text-align: center;
}

.textTitle{
  font-size: 1.5em;
}

.space_evently{
  justify-content: space-around;
}
.no_active{
  color:black;
}
.active{
  color:red;
}
button{
  padding:0 10px 0 10px;
}

.listH{
  display:inline-flex;
  list-style-type:none;
}

.listH li {
  padding: 10px;
}

.margin-bottom0{
  margin-bottom: 0px;
}
.margin-top0{
  margin-top: 0px;
}
.margin-left0{
  margin-left: 0px;
}
.margin-right0{
  margin-rigth: 0px;
}

.margin-bottom04em{
  margin-bottom: 0.4em;
}
.margin-top04em{
  margin-top: 0.4em;
}
.margin-left04em{
  margin-left: 0.4em;
}
.margin-right04em{
  margin-rigth: 0.4em;
}

.margin-bottom1em{
  margin-bottom: 1em;
}
.margin-top1em{
  margin-top: 1em;
}
.margin-left1em{
  margin-left: 1em;
}
.margin-right1em{
  margin-rigth: 1em;
}

.padding-left0{
  padding-left: 0px;
}
.padding-left1em{
  padding-left: 1em;
}

.padding-left-10px{
  padding-left: -10px;
}

.hr-solid{
  border-top: 1px solid #8c8b8b;
}
.hr-double{
  border-top: 3px double #8c8b8b;
}
.hr-dashed {
  border-top: 1px dashed #8c8b8b;
}
.hr-dashed-bold{
  background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

.font-size2em{
  font-size: 2em;
}
.font-size1em{
  font-size: 1em;
}
.font-size07em{
  font-size: 0.7em;
}
.font-bold{
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
